<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="countryCard">
      <a href="">
        <img
          src="https://flagsapi.com/:country_code/:style/:size.png"
          alt="country flage"
          class="countryFlage"
        />
        <div class="countryInfo">
          <p class="countrytitile">India</p>
          <div>
            <p><span class="infoTopic"> population:</span>380,089,896</p>
            <p><span class="infoTopic"> Region:</span>Asia</p>
            <p><span class="infoTopic"> Captial:</span>Dehli</p>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
